:root {
    --background-color: #191c1c;    /* Page background color */
    --head-foot-color: #1a1c1c;     /* Header and footer background color */
    --border-pjt-color: #828282;    /* List link color */
}


/*--- 1. Common --- */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #ffffff;
    margin: 0px;
    height: 100%;
}

body a {    /* Remove links color and underline */
    color: inherit;
    text-decoration: none;
}

@media only screen and (max-device-width : 640px) {
    .page-content-wrapper {
    font-size: 16px
    }
}



/* --- 2. Background --- */
.homepage-html:before {
    content: "";
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}



/* --- 3. Body --- */
.page-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}



/* --- 4. List --- */
.heading {
    border-bottom: solid 1px var(--border-pjt-color);
    padding-bottom: 8px;
    font-weight: bold;
}

.heading .fas {
    margin-right: 6px;
    border-bottom: var(--border-pjt-color);
}

.list {
    margin-top: 0.5em;
    padding: 0 0 0 0.5em;
    list-style: none;
    text-align: left;
}

.list li {
    margin: 2px 0px 2px;
}

.list a {
    padding: 4px 12px 4px;
}

.list a:hover {
    background-color: rgba(0,0,0,0.24);
    transition: 300ms ease;
}

.list li a:before {     /* Horizontal */
    content: "";
    display: inline-block;
    height: 2px;
    width: 14px;
    margin-right: 7px;
    margin-left: -6px;
    margin-bottom: 8px;
    background-color: var(--border-pjt-color);
}

.list li:before {      /* Vertical */
    content: "";
    height: 1.6em;
    width: 2px;
    position: absolute;
    display: inline-block;
    background-color: var(--border-pjt-color);
    margin-left: 5px;
    margin-top: -0.6em;
}

.list li:last-child {
    border-left:none;
}

/* --- 5. Font-awesome --- */
.fab {
    margin-right: 0.5em;
}



/* --- Generic --- */
.flex {
    display: flex;
}

.fcolumn {
    flex-direction: column;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}
