body {
    height: 100%;
    background-image: linear-gradient(120deg, #4596f1 0%, #5ca4f3 100%);
    font-family: sans-serif;
}

input, input[type='text'], input[type='password']{
    border-radius: 0px ;
    background-color: #ECF0F1;
    border-color: rgba(0,0,0,0); 
}

.login-form {
    background-color: rgba(255,255,255,1);
    border-radius: 8px;
    max-width: 30%;
}

.btn-custom{
    min-width: 100%;
    background-color: #5ca4f3;
    
    color: white;
}

h2 {
    padding-top: 12px;
    padding-bottom: 4px;
}

ul {
    padding-left: 12px;
    list-style: none;
}

.div-erreur{
    color: rgba(255, 0, 0, 0.8) ;
    font-size: small ;
}