/* --- Liste des machines --- */
.container-list {
    background-color: white;
    
    border-radius: 6px;
    border-style: solid ;
    border-width: 2px;
    border-color: rgba(6, 6, 6, 0.4);

    margin-top: 23%;        /* centrer */
    margin-left: 30%;

    float:left;

    font-family: "Poppins", sans-serif;
    font-weight: 400;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    opacity: 0.94 ;
}



.list_heading {      /* Titre */
    font-size: 20px;
    color: #000 ;
    text-align: center ;

    border-bottom: 1px solid #000 ;
    margin-bottom: 3px;
    position:relative;
}



#liste_machines li {
    list-style:  none;

    font-size: 18px;
    text-decoration: none;

    width: 100%;
    border-bottom: 1px solid #ccc;
}



#liste_machines li a {
    display: block;
    color: #555;
    text-decoration: none;
    font-color: rgba(0, 0, 0, 0);

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}



#liste_machines li:last-child {
    border: none;
}



#liste_machines li a:hover {
    font-size: 22px;
    color: #ccc ; 
}


/* ------ Graphiques ------ */
#divGraph {
    padding-bottom: 100px ;
}